<body>

    <div class="jumbotron border-below header-bg">
      <div class="container">
        <div class="col-md-12 ">
          <div class="center-block text-center">
            <h1 class=""><span class="yellow">j</span>Tags</h1>
            <h2>Embed functionality into HTML tags to make them perform a certain task.</h2>
            <a type="button" class="btn btn-success btn-lg btn-space-sm" href="https://raw.githubusercontent.com/matantsu/jTags/master/jTags.min.js">Download <u><span class="yellow">j</span>Tags</u> <span class="icon-download"></span></a>
            <a type="button" class="btn btn-warning btn-lg btn-space-sm" href="https://github.com/matantsu/jTags/wiki">Documentation</a>
          </div>
        </div>
      </div>
    </div>
